<div style="padding: 50px;">


  <h1>Filtering Leagues</h1>
  <div>
    <mat-form-field *ngFor="let filter of filterSelectObj" style="margin-left: 15px;">
      <mat-label>Filter {{filter.name}}</mat-label>
      <select matNativeControl name="{{filter.columnProp}}" [(ngModel)]="filter.modelValue"
        (change)="filterChange(filter,$event)">
        <option value="">-- Select {{filter.name}} --</option>
        <option [value]="item" *ngFor="let item of filter.options">{{item}}</option>
      </select>
    </mat-form-field>
    &nbsp;
    <button mat-flat-button color="warn" (click)="resetFilters()">Reset</button>
  </div>

  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="accountName">
      <th mat-header-cell *matHeaderCellDef> Account Name </th>
      <td mat-cell *matCellDef="let element"> {{element.accountName}} </td>
    </ng-container>

    <ng-container matColumnDef="lastCharacterName">
      <th mat-header-cell *matHeaderCellDef> Last Character Name </th>
      <td mat-cell *matCellDef="let element"> {{element.lastCharacterName}} </td>
    </ng-container>

    <ng-container matColumnDef="stash">
      <th mat-header-cell *matHeaderCellDef> Stash </th>
      <td mat-cell *matCellDef="let element"> {{element.stash}} </td>
    </ng-container>

    <ng-container matColumnDef="stashType">
      <th mat-header-cell *matHeaderCellDef> Stash Type </th>
      <td mat-cell *matCellDef="let element"> {{element.stashType}} </td>
    </ng-container>

    <ng-container matColumnDef="league">
      <th mat-header-cell *matHeaderCellDef> League </th>
      <td mat-cell *matCellDef="let element"> {{element.league}} </td>
    </ng-container>

  
    <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>


</div>

<!-- <div class="router-wrapper" appScollprogress> -->
<router-outlet></router-outlet>
